.chat-item {
    background-color: white;
    width: 100%;
    height: 65px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(96, 92, 92, 0.22);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .avatar-user__chat {
        margin: 0 15px;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    .info__chat {
        .name-user__chat {
            margin: 0;
            font-weight: 600;
            font-size: 16px;
        }

        .first-content__chat {
            margin: 0;
            font-size: 14px;
            color: var(--text-color);
        }
    }
}

.chat-item:hover {
    background-color: #fafafa;
}

.active {
    background-color: #bbdefb;
}

.active:hover {
    background-color: #bbdefb;
}
