.infochatmess {
    width: 100%;
    background-color: white;
    height: 55px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-right: 1000px;

    .user__mess {
        .name-user__mess {
            margin: 0;
            font-size: 16px;
            font-weight: 600;
        }
    
        .desc-user__mess {
            margin: 0;
            font-size: 14px;
        }
    }

   
}