.search {
    margin: 0 25px 0 0;
    display: flex;
    width: 100%;
    height: 35px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;

    .icon-search {
        padding: 10px;
        cursor: pointer;
    }

    input {
        width: 100%;
        border: 1px solid #9e9e9e;
        padding: 5px 12px;
        border: none;
        outline: none;
        margin-right: 5px;
    }
}