.signin__page {
    height: 100vh;
    
    .title__page {
        margin-left: 40px;
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .signin__form {
        overflow: hidden;
        width: 600px;
        max-width: 100%;
        margin-left: 10%;
        height: calc(100vh - 300px);
        display: flex;
        align-items: center;

        .signin__form-input {
            width: 500px;
            padding: 10px 20px;
            border-radius: 8px;
            margin-top: 15px;
        }

        .message_error {
            color: red;
            margin: 0;
            font-size: 12px;
            margin-top: 3px;
        }

        .btn-signin {
            background-color: #81c784;
            border: none;
            padding: 8px 40px;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 10px;
        }

        .btn-signin:hover {
            background-color: #4caf50;
        }
    }
    .bg-img {
        position: absolute;
        right: 5%;
    }
}